.footer {
  background-color: #050407;
}

.container34 {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 100px;
  flex-direction: row;
}

.container34 div {
  height: 100px;
  width: 100px;
}

.logo {
  display: flex;
  align-items: center;
  text-align: left;
  color: #FFFFFF;
  letter-spacing: 0px;
  white-space: nowrap;
  text-align: left;
  font: normal normal 300 28px/42px Poppins;
  letter-spacing: 0px;
  opacity: 1;
}

.logo img {
  padding-top: 15px;
  display: flex;
  height: 150px;
  width: 100px;
}

.right {
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  padding-left: 90px;
  text-align: left;
  font: normal normal 300 20px/30px Poppins;
  letter-spacing: 0px;
  color: #FFFFFF;
}
